html {
    height: 100%;
}

body {
    background-color: lightgray;
    height: 100%;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.navbar-div {
    display: flex;
}

.navbar-logo {
    width: fit-content;
    min-width: 170px;
    height: 100%;
    display: flex;
    margin-right: 100px;
}

.navbar-logo img {
    height: 100%;
}

.navbar-logo h1 {
    line-height: 60px;
}

.navbar-nav-items {
    width: fit-content;
    height: 100%;
    background-color: gray;
    /* background-color: #009FE2; */
}

.navbar-nav-items ul{
    /* margin-left: 30px; */
        margin: 0px 10px;
}

.navbar-nav-items ul li{
    display: inline;
    float: left;
    line-height: 60px;
}

.navbar-nav-items ul a {
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.navbar-nav-items ul a:hover {
    color: white;
}

.navbar-cta-button {
    width: 120px;
    height: 100%;
    background-color: #F98F39;
    /* float: right; */
    margin-right: 5px;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    /* text-align: center; */
}

.navbar-cta-button a {
    margin: auto;
    color: #f0f0f0;
}

.navbar-cta-button a:hover {
    color: black;
}

.side-bar {
    position: relative;
    top: 60px;
    height: calc(100vh - 60px);
    width: 75px;
    padding: 5px;
    overflow: hidden;
    background-color: gray;
    transition: all 0.3s ease-in-out;
}

.side-bar-button {
    height: 60px;
    max-width: 60px;
    border-radius: 5px;
    background-color: #F98F39;
    background-image: url("IMG/Menu_logo.png");
    background-size: 100%;
    cursor: pointer;
}

.side-bar-button:hover {
opacity: 0.5;
}

.side-bar ul {
    padding-top: 20px;
    visibility: hidden;
}

.side-bar li {
    line-height: 60px;
    white-space: nowrap;
}

.side-bar span {
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid
}

.hero-section {
    display: flex;
}

.hero-body {
    position:relative;
    top: 60px;
    width: 100%;
}

.iframe-body {
    height: 100%;
    width: 100%;
}

.contact-grid {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: minmax(0,1fr);
}

.contact-side-column {
    margin: 15px;
    background-color: #f0f0f0;
    text-align: center;
    height: 96%;
}

.contact-middle-column {
    padding: 10px;
    margin: 15px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
    text-overflow: ellipsis;
}

.middle-column-grid {
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
}

.commits-img {
    padding: 10px;
    /* background-color: #F98F39; */
}

.commits-div {
    height: 100%;
    background-image: url("IMG/commits.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50px;
}

/* .commits-img img {
    max-width: parent;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
} */

.commits-div:hover {
    transform: scale(1.05); /* Zoom effect */
    transition: transform 0.3s ease; /* Smooth transition */
}

.portfolio-grid {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
}

.portfolio-middle-column {
    grid-column-start: span 2;
    grid-column-end: span 3;
    padding: 10px;
    margin: 15px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
}

.portfolio-cards {
    border-style: solid;
    border-width: 1px; 
    margin:10px; 
    border-radius: 5px;
}

.portfolio-cards:hover {
    transform: scale(1.05); /* Zoom effect */
    transition: transform 0.3s ease; /* Smooth transition */
}

.redirect-button {
    align-self: center; 
    /* border-style: solid; 
    border-width: 1px;  */
    /* border-color: black; */
    width: fit-content; 
    margin: auto; 
    padding: 5px; 
    border-radius: 5px;
    background-color: #F98F39;
    color: white;
}

.redirect-button:hover {
    background-color: #E27C00;
}

.demo-arrow {
    background-color: #F98F39;
    width: 50px;
    height:100%;
    position: relative;
    animation-name: shimmey;
    animation-duration: 2s;
}

@keyframes shimmey {
    0% {left:0px; top:0px;}
    50% {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}